[submodule "wp-content/plugins/ca-design-system-gutenberg-blocks-git"]
	path = wp-content/plugins/ca-design-system-gutenberg-blocks-git
	url = https://github.com/chachasikes/ca-design-system-gutenberg-blocks.git
